---
import { getCollection } from 'astro:content';
import {site} from '../site';
const description = 'Bringing Web, Engineering, Cloud, and Earth tidbits straight to your neural implant';
const allBlogPosts = await getCollection('blog');
import Base from '../components/parts/base.astro';
import Footer from '../components/parts/footer.astro';
---
<Base amp_include={[]} title="Home" description={description} slug="/">

<main class="content" role="main">

<header class="blog-header">
<h1 class="blog-title">{ site.name }</h1>
<h2 class="blog-description">{ description }</h2>
</header>

<div class="cf">
{allBlogPosts.map(post => (
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
<div class="article-item">
<header class="post-header">
<h2 class="post-title" itemprop="name"><a href={post.slug} itemprop="url">{post.data.title}</a></h2>
</header>
<section class="post-excerpt" itemprop="description">
<p>{post.data.description}</p>
</section>
<div class="post-meta">
<time datetime={ post.data.date.toISOString()}>{ new Intl.DateTimeFormat("en-UK", {dateStyle:'medium'}).format(post.data.date)}</time>
</div>
</div>
</article>
))}
</div>
</main>

<Footer />
</Base>
