---
import { site } from '../../site';
import Header from './header.astro';

interface Props {
    title: string;
    description: string;
    slug: string;
}

const { title, description, slug } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="description" content={description}>
        <link rel="canonical" href={`${site.url}${slug}`}>
        <link rel="stylesheet" href="/tokens.css" >
        <title>{title} | {site.name}</title>
    </head>
    <style lang="scss">
        @import './tokens.scss';
        body {
            font-family: $rajsite-body-font-family;
            margin: 0;
            padding: 0;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-font-feature-settings: "calt=1";
            -ms-font-feature-settings: "calt";
            -webkit-font-feature-settings: "calt";
            -o-font-feature-settings: "calt";
            font-feature-settings: "calt";
        }
    </style>
    <body>
        <img src={`https://rajsite.goatcounter.com/count?p=${slug}`} width="1" height="1" alt="" />
        <Header></Header>
        <slot></slot>
    </body>
</html>
